<footer class="footer">
  <section class="">
    <div class="footer-container">
      <div class="footer-col">
        <h2 class="hero-about">About Me</h2>

        <span class="hero-name footer-accent">Sambo Kolsambath</span>

        <span class="hero-role footer-accent">Frontend Developer</span>

        <span class="hero-desc footer-accent"
          >Building structured web interfaces.</span
        >
      </div>

      <div class="footer-col">
        <h2 class="footer-title">Contact</h2>

        <a
          href="https://mail.google.com/mail/?view=cm&fs=1&to=kolsambathsambo@gmail.com"
          target="_blank"
          class="footer-link"
        >
          Gmail
          <span class="icon-wrapper">
            <img src="/icons/gmail-logo-icon.png" alt="Gmail" class="icon" />
          </span>

          <a
            href="https://www.linkedin.com/in/sambo-kolsambath-76269a2a0/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-link"
          >
            LinkedIn
            <span class="icon-wrapper">
              <img
                src="/icons/linkedin-logo-icon.svg"
                alt="LinkedIn"
                class="icon"
              />
            </span>
          </a>

          <a
            href="https://github.com/Spades-Of-Ace"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-link"
          >
            GitHub
            <span class="icon-wrapper">
              <img
                src="/icons/github-logo-icon.svg"
                alt="GitHub"
                class="icon"
              />
            </span>
          </a>
        </a>
      </div>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
      <p>© 2026 All rights reserved | Sambo Kolsambath.</p>
      <p>Built with Love and Affection</p>
    </div>
  </section>
</footer>
