---
import Button from '../components/Button.astro';
import GlassSection from '../components/GlassSection.astro';
---

<GlassSection>
  <section class="experience-container">
    <div>
      <h1 class="text-3xl md:text-5xl glow font-semibold section-title">Experience</h1>

      <!--MPTC -->
      <div class="flex flex-col md:flex-row justify-between items-start gap-8 py-8">
        <!-- LEFT CONTENT -->
        <div class="flex-1">
          <div>
            <h2 class="glow-hover text-2xl mb-4">
              <a
                href="https://mptc.gov.kh/"
                target="_blank"
                rel="noopenernoreferrer"
                class="hover:underline"
              >
                Ministry of Post and Telecommunications
              </a>
            </h2>
          </div>
          <div class="mb-4">
            <h3 class="glow-hover text-lg mt-2 mb-4">
              UX/UI Intern
            </h3>

            <h4 class="text-base glow-hover mt-2 mb-4">
              May 2024 – December 2025
            </h4>

            <p class="paragraph glow-hover mb-4 leading-[1.9] text-justify">
              Contributed to UX/UI design refinement and digital content
              development for national government platforms. Supported interface
              consistency aligned with the Rachana Government Design System and
              assisted in structuring bilingual web content to ensure clarity,
              accessibility, and usability across ministries.
            </p>
          </div>

          <div class="mb-4">
            <h3 class="glow-hover text-lg mt-2 mb-4">
              Junior Front-End Developer
            </h3>

            <h4 class="text-base glow-hover mt-2 mb-4">
              August 2025 – Present
            </h4>

            <p class="paragraph glow-hover mb-4 leading-[1.9] text-justify">
              Transitioned into a frontend engineering role, contributing to the
              development and maintenance of national digital platforms
              including EventKH and DSDP. Implement responsive, component-based
              interfaces, integrate backend APIs, and ensure cross-device
              compatibility while maintaining scalable and structured frontend
              architecture.
            </p>
          </div>
        </div>

        <!-- RIGHT LOGO -->
        <div class="shrink-0 logo hidden md:block">
          <img
            src="/logos/mptc-logo.png"
            alt="MPTC Logo"
            class="w-28 h-auto opacity-80 hover:opacity-100 transition"
          />
        </div>
      </div>

      <!--CSC -->
      <div class="flex flex-col md:flex-row justify-between items-start gap-8 py-8">
        <!-- LEFT CONTENT -->
        <div class="flex-1">
          <div class="">
            <h2 class="glow-hover text-2xl mb-4">
              <a
                href="https://csc.org/"
                target="_blank"
                rel="noopener
            noreferrer"
                class="hover:underline"
              >
                Children’s Surgical Centre (CSC)
              </a>
            </h2>
          </div>

          <h3 class="glow-hover text-lg mt-2 mb-4">
            Social Media & Website Officer
          </h3>
          <div>
            <h4 class="text-base glow-hover mt-2 mb-4">
              May 2023 – December 2025
            </h4>

            <p class="paragraph glow-hover mb-4 leading-[1.9] text-justify">
              Managed and structured content for the official CSC website and
              social media channels. Developed engaging digital content to
              effectively communicate CSC’s mission, programs, and impact to a
              global audience. Ensured consistent branding and messaging across
              all online platforms while optimizing content for accessibility
              and user engagement.
            </p>
          </div>
        </div>

        <!-- RIGHT LOGO -->
        <div class="shrink-0 logo hidden md:block">
          <img
            src="/logos/csc-logo2.png"
            alt="CSC Logo"
            class="w-28 h-auto opacity-80 hover:opacity-100 transition"
          />
        </div>
      </div>

      <!-- Kakvei -->
      <div class="flex flex-col md:flex-row justify-between items-start gap-8 py-8">
        <!-- LEFT CONTENT -->
        <div class="flex-1">
          <div>
            <h2 class="glow-hover text-2xl mb-4">
              <a
                href="https://kakvei.tech/"
                target="_blank"
                rel="noopener
            noreferrer"
                class="hover:underline"
              >
                Kakvei
              </a>
            </h2>
          </div>

          <h3 class="glow-hover text-lg mt-2 mb-4">Data Organizer</h3>
          <div class="mb-4">
            <h4 class="text-base glow-hover mt-2 mb-4">
              February 2023 – December 2025
            </h4>

            <p class="paragraph glow-hover mb-4 leading-[1.9] text-justify">
              Organize and validate Khmer-language datasets for AI model
              training, ensuring linguistic accuracy, structural consistency,
              and overall data integrity. Support quality control processes to
              maintain reliable large-scale dataset development.
            </p>
          </div>
        </div>

        <!-- RIGHT LOGO -->
        <div class="shrink-0 logo hidden md:block">
          <img
            src="/logos/kakvei-logo2.png"
            alt="Kakvei Logo"
            class="w-28 h-auto opacity-80 hover:opacity-100 transition"
          />
        </div>
      </div>
      <!--  -->
    </div>
  </section>
</GlassSection>
