---
import GlassSection from '../components/GlassSection.astro';
---

<GlassSection>
  <section>
    <div>
      <h1 class="text-6xl font-bold tracking-[8px] text-center hero-title glow">
        Welcome to the Event Horizon
      </h1>

      <div class="mt-6 text-center">
        <p class="paragraph text-white/70 glow-hover">
          Frontend Developer specializing in scalable, structured web
          applications with experience contributing to
        </p>

        <p class="paragraph text-white/70 glow-hover">
          Graduate in Information Communication Technology at the American
          University of Phnom Penh, with a solid foundation in software
          development and system architecture.
        </p>

        <p class="paragraph text-white/70 glow-hover">
          Strong analytical thinker with attention to detail and a collaborative
          working style. Adaptable in fast-paced environments, capable of
          delivering structured solutions under tight timelines and resource
          constraints while maintaining code quality and clarity.
        </p>

        <p class="paragraph text-white/70 glow-hover">
          My name is Sambo Kolsambath, but you can call me Ace.
        </p>
      </div>
    </div>
  </section>
</GlassSection>
