---
import GlassSection from '../components/GlassSection.astro';
---

<GlassSection>
  <section>
    <div>
      <h1
        class="text-3xl sm:text-4xl md:text-6xl font-bold tracking-[2px] md:tracking-[8px] text-center hero-title glow leading-tight"
      >
        Welcome to the Event Horizon
      </h1>

      <div class="mt-6 text-center">
        <p class="paragraph text-white/70 glow-hover">
          Frontend Developer specializing in scalable, structured web
          applications with hands-on experience contributing to national
          government digital platforms.
        </p>

        <p class="paragraph text-white/70 glow-hover">
          Graduate in Information Communication Technology from the American
          University of Phnom Penh, with a strong foundation in software
          architecture, system logic, and maintainable frontend development.
        </p>

        <p class="paragraph text-white/70 glow-hover">
          Analytical and detail-oriented, with experience working in production
          environments under structured design systems. Adaptable in fast-paced
          settings, capable of delivering clean, scalable solutions under tight
          timelines and evolving requirements.
        </p>

        <p class="paragraph text-white/70 glow-hover">
          My name is Sambo Kolsambath, but you can call me Ace.
        </p>
      </div>
    </div>
  </section>
</GlassSection>
